<form action="/<%= @book.id%>" method="post">
  <div>
    <label>Title: </label><input type="text" name="title" value="<%= @book.title%>" placeholder="Enter the Title">
  </div>
  <div>
    <label>Body: </label><textarea name="body" rows="8" cols="80"><%= @book.body%></textarea>
  </div>
    <% if @book.id != ''%>
    <input type="hidden" name="_method" value="PUT">
    <%end%>
    <input type="submit" name="" value="Save post">
</form>
