<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%=erb(:'partials/navigation', :layout => false )%>
    <%=yield%>
  </body>
</html>
